body{
    background-image: url(../img/imagem2.jpgd);
}

.container{
    margin-top: 75px;
    padding: 20px 0;
    text-align: center;

    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.199);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

a{ 
    margin-top: 30px;
    padding: 4px;
    background: rgba(255, 255, 255, 0.055);
    box-shadow: 0 8px 32px 0 rgba(34, 38, 135, 0.253);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

   

.text{
    text-decoration: none;
    color: #fff;
    
}