body{
    background-image: url(/../coisasDoTCC/img/imagem2.jpg);
}
#text{
    font-size: 50px;
}
.container{
    margin-top: 7%;
}
.img{
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.199);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: inline-block;
    padding-bottom: 70px!important;
    margin: 0;
}
img{   
    transition: transform 0.5s ease-out;
    min-width: none;
}
  
@media screen and (max-width: 900px) {


    .container{
        margin-top: 25%;
    }
    img{
        width: 40vh;
    }
    #text{
        font-size: 35px;
    }
}