.img{
    display: inline-block;
    color: transparent;
    font-size: 50px;
    transition: ease-in 0.2s;
}
.img:hover{
    transition: ease-in 0.2s;
    color: black;
}



img {   
    transform-origin: center; 
    transform: translateY(155px); 
    transition: transform 0.5s ease-out;
  }
  
  img:hover {
    transition: ease-in .5s;
    transform: translateY(30px) rotate(360deg);
  }
/* img{
    transform: translate(-0px, +155px);
    transition: ease-in 0.5s;
}


img:hover{
    transform: translate(-0px, +30px);
    transition: ease-out 0.5s;

    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
} */

